.aquarius {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/images/aquarius-bg2.jpg") center / cover no-repeat;
  
  overflow: hidden;
  color: white;
}

.aquarius-title {
  width: 25%;
  margin-left: 5%;
  color: white;
  font-size: 25px;
  z-index: 5;
  font-family: 'comic sans ms';
  margin-top: 40px;
  text-shadow:  2px 2px 4px rgba(255, 255, 255, 0.9);
}


/* ===== ЗВЁЗДЫ ===== */
.star{
  position: absolute;
  /*border: 1px white solid;*/
  margin-top: 170px;
  margin-left: 20%;
  width: 250px;
  height: 60px;
  cursor: pointer;
}
.huudor{
  top: 22%;
  left: 12%;
}
.sadalmelic{
  top: 15%;
  left: 23%;
}
.sadalsuud{
  top: 28%;
  left: 34%;
}
.ancha{
  top: 33%;
  left: 21%;
}
.noname{
  top: 47%;
  left: 25%;
}
@media (max-width: 1130px){
  .huudor{
    left: -2%;
  }
}
.const{
  height: 100%;
}
.const img{
  height: 100%;
}
.star img{
  height: 100%;
}


/* ===== КОМПЛИМЕНТ ===== */
.compliment1,
.compliment2 {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  background: rgba(115, 128, 151, 0.4); /* туманный фон */
  backdrop-filter: blur(8px);
  padding: 15px 25px;
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  pointer-events: none;
  color: white;
  transition: opacity 1s ease, transform 1s ease;
  font-family: 'comic sans ms';
  display: none;
  width: 700px;
  animation: ani 1s forwards;
}
.compliment img{
  height: 300px;
}
.compliment.show {
  opacity: 1;
  
}
@media (max-height: 823px){
  .huudor{
    top: 17%;
  }
  .sadalmelic{
    top: 11%;;
  }
  .sadalsuud{
    top: 23%;
  }
  .ancha{
    top: 28%;
  }
  .noname{
    top: 40%;
  }
}

