.hero {
  overflow: hidden;
  
}
.hero-bg{
    background:url("../assets/images/banner.jpeg") center / cover no-repeat ;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 3;
    display: flex;
  height: 100vh;
  padding: 80px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1;
  position: relative;
}

.vinyl-wrapper {
  position: absolute;
  right: -450px;
  top: 50%;
  transform: translateY(-50%);
  width: 950px;
  height: 950px;
  
}
.vinyl {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  animation: spin 12s linear infinite;
}
.vinyl img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
canvas{
    position: absolute;
    height: 100vh;
    z-index: 2;
}
.mirum{
  font-family: verdana;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.86);
  font-size: 30px;
}
.date{
  font-family: verdana;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.86);
  font-size: 20px;
}
.text{
  font-family: MV Boli;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.86);
  font-size: 30px;
  margin-top: 60px;
}
#startBtn{
  border: none;
  background-color: rgb(240, 222, 200);
  border-radius: 10px;
  height: 70px;
  width: 220px;
  font-family: verdana;
  margin-top: 100px;
  cursor: pointer;
  color: rgb(54, 54, 75);
}