#congrats {
  position: relative;
  background: url('../assets/images/paper-texture.jpg') center / cover no-repeat;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding-top: 250px;
  padding-bottom: 250px;
}

.congrats-vinyl {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spin2 12s linear infinite;
  box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.7);
}

.congrats-vinyl img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.congrats-vinyl-wrap {
  position: absolute;
  left: -410px;
  top: 50%;             /* ← двигаешь ТУТ */
  transform: translateY(-50%);
  width: 1000px;
  height: 1000px;
  pointer-events: none;
}
.congrats-content{
  position: relative;
  display: flex;
  align-items: center;
}
@keyframes spin2 {
  to {
    transform: rotate(360deg);
  }
}
.congrats-png {
  margin-left: -50px;
  z-index: 3;
  width: 100%;
}
.congrats-png img{
  height: 80%;
}
.congrats-gift1 img{
  height: 300px;
  transform: rotate(25deg)
}
.congrats-gifts{
  height: 900px;
  z-index: 5;
}
.congrats-gift2 img{
  height: 300px;
  transform: rotate(-25deg)
}
.congrats-gift2{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-left: -10%;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 5;
  transition: transform 0.5s;
  animation: float 2s ease-in-out infinite;
}
.congrats-gift1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: -10%;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 5;
  transition: transform 0.5s;
  animation: float 2s ease-in-out infinite;
}
.congrats-gift1:hover,
.congrats-gift2:hover{
  transform: scale(1.1);
}
.congrats-text{
  color: black;
  font-size: 22px;
  display: none;
  position: absolute;
  right: 500px;
  opacity: 0;
  animation: ani 1s forwards;
  width: 300px;
  font-family: 'comic sans ms';
  bottom: 600px;
}
.congrats-img{
  height: 450px;
  display: none;
  position: absolute;
  right: 500px;
  bottom: 10%;
  opacity: 0;
  animation: ani 1s forwards;
}
.congrats-img img{
  height: 400px;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.footer{
  color: black;
  background-color: rgb(151, 151, 151);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
@media (max-width: 1350px){
  .congrats-png img{
    width: 130%;
  }
  .congrats-png{
    margin-left: -200px;
    width: 90%;
  }
  .congrats-vinyl-wrap{
    width: 800px;
    height: 800px;
  }
  .congrats-gift2{
    margin-top: 80px;
  }
  .congrats-img img{
  height: 400px;
  }
  .congrats-gift2 img{
    height: 250px;
  }
  .congrats-gift1 img{
    height: 250px;
  }
  .congrats-gift1{
    margin-top: 100px;
  }
}
@media (max-width: 1750px){
  .congrats-png img{
    width: 100%;
  }
  .congrats-png{
    margin-left: -200px;
  }
  .congrats-vinyl-wrap{
    width: 800px;
    height: 800px;
  }
  .congrats-gift2{
    margin-top: 100px;
  }
  .congrats-text{
  right: 420px;
  width: 300px;
  bottom: 600px;
}
.congrats-img{
  height: 450px;
  display: none;
  position: absolute;
  right: 500px;
  bottom: 10%;
  opacity: 0;
  animation: ani 1s forwards;
}
}
@media (max-width: 1580px){
  .congrats-gift2{
    margin-top: 180px;
  }

  .congrats-gift2 img{
    height: 220px;
  }
  .congrats-gift1 img{
    height: 220px;
  }
  .congrats-gift1{
    margin-top: 150px;
  }
  .congrats-text{
    right: 420px;
    width: 300px;
    bottom: 550px;
  }
  .congrats-img{
  height: 450px;
  display: none;
  position: absolute;
  right: 450px;
  bottom: 6%;
  opacity: 0;
  animation: ani 1s forwards;
}
}
@media (max-width: 1450px){
  .congrats-gift2{
    margin-top: 180px;
  }

  .congrats-gift2 img{
    height: 200px;
  }
  .congrats-gift1 img{
    height: 200px;
  }
  .congrats-gift1{
    margin-top: 150px;
  }
  .congrats-text{
    right: 400px;
    width: 300px;
    bottom: 500px;
  }
  .congrats-img{
  height: 450px;
  display: none;
  position: absolute;
  right: 400px;
  bottom: 3%;
  opacity: 0;
  animation: ani 1s forwards;
}
}
@media (max-width: 1275px){
  .congrats-gift2{
    margin-top: 180px;
  }

  .congrats-gift2 img{
    height: 170px;
  }
  .congrats-gift1 img{
    height: 170px;
  }
  .congrats-gift1{
    margin-top: 170px;
  }
  .congrats-text{
    right: 35%;
    width: 300px;
    bottom: 500px;
  }
  .congrats-img{
  height: 450px;
  display: none;
  position: absolute;
  right: 35%;
  bottom: 3%;
  opacity: 0;
  animation: ani 1s forwards;
}
}
