.letters {
  position: relative;
  height: 100vh;
  background:url('../assets/images/test-bg1.jpeg') center / cover no-repeat;
  overflow: hidden;
  color: white;
}

.letters-title {
  width: 25%;
  margin-left: 5%;
  color: white;
  font-size: 25px;
  z-index: 5;
  font-family: 'comic sans ms';
  margin-top: 40px;
  text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.9);
}

/* ===== БУКВЫ ===== */
.letters-field {
  position: relative;
  width: 1500px;
  height: 500px;
  margin: 40px auto;
  overflow: hidden;
  /*border: 1px white solid;*/
}
@media (max-width: 1520px){
  .letters-field{
    width: 800px;
  }
}
.letter {
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: grab;
  user-select: none;
  outline: none;
}

.letter img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ===== СЛОТЫ ===== */
.slots-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 30px;
}

.slots {
  display: flex;
  gap: 10px;
}

.slot {
  width: 100px;
  height: 100px;
  border: 2px dashed rgba(255,255,255,0.4);
  border-radius: 12px;
  position: relative;
}

/* ===== RESET ===== */
.reset-btn {
  padding: 10px;
  background: white;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
.reset-btn img{
  height: 100%;
}
/* ===== RESULT ===== */
.result {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 10px;
  border-radius: 20px;
  width: 70%;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  font-size: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s ease, transform 1.5s ease;
  text-shadow: 0 0 20px rgba(255,255,255,0.5);
  color: rgb(233, 233, 233);
}
.result.show {
  opacity: 1;
}
.left-slots{
  margin-right: 50px;
  display: flex;
  gap: 5px;
}
.right-slots{
  display: flex;
  gap: 5px;

}
