/* ===== Общий блок ===== */
.puzzle {
  position: relative;
  height: 100vh;
  background: url("../assets/images/puzzle-bg.jpg") center / cover no-repeat;
  overflow: hidden;
}

.puzzle-title {
  position: absolute;
  top: 40px;
  width: 25%;
  margin-left: 5%;
  color: white;
  font-size: 25px;
  z-index: 5;
  font-family: 'comic sans ms';
}

/* ===== Контейнер ===== */
.space-objects {
  position: relative;
  width: 100%;
  height: 100%;

}

/* ===== Объект ===== */
.space-object {
  position: absolute; /* остаётся absolute */
  transition: transform 0.8s ease; 
  /* плавное ускорение и замедление */
}

.space-object.zoomed {
  transform: 
    scale(2);           /* увеличиваем до нужного размера */
  z-index: 20;
}

/* ===== Плавающий слой ===== */
.float-layer {
  width: 100%;
  height: 100%;
  animation: float 6s ease-in-out infinite;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* ===== Планета ===== */
.planet {
  width: 300px;
  height: 300px;
  top: 45%;
  left: 40%;
}

.planet .float-layer {
  background: url("../assets/images/neptune.png") center / cover;
}

/* ===== Спутники ===== */
.moon {
  width: 150px;
  height: 150px;
}

.first  {
  background: url("../assets/images/triton.png") center / cover;
}
.second{
  background: url("../assets/images/nereid.png") center / cover;
}
.third {
  background: url("../assets/images/nayada.png") center / cover;
}
.moon:nth-of-type(2) { top: 25%; left: 25%; }
.moon:nth-of-type(3) { top: 65%; left: 20%; }
.moon:nth-of-type(4) { top: 30%; left: 65%; }

/* ===== Плавание ===== */
@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}



/* ===== Скрытие остальных ===== */
.space-object.hidden {
  opacity: 0.5;
  pointer-events: none;
}

/* ===== Подпись объекта ===== */
.object-label {
  position: absolute;
  top: -40px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.4s ease;
  pointer-events: none;
  font-family: 'comic sans ms';
}

.space-object.zoomed .object-label {
  opacity: 1;
  transform: translateY(0);
}

/* ===== Кусочек пазла ===== */
.piece-overlay {
  position: absolute;
  width: 45%;
  height: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 5;
}

/* показываем только при зуме */
.space-object.zoomed .piece-overlay {
  opacity: 1;
  pointer-events: auto;
}

/* разные кусочки */
.planet .piece-overlay {
  background-image: url("../assets/images/puzzle1.png");
}

.moon[data-piece="1"] .piece-overlay {
  background-image: url("../assets/images/puzzle2.png");
}

.moon[data-piece="2"] .piece-overlay {
  background-image: url("../assets/images/puzzle3.png");
}

.moon[data-piece="3"] .piece-overlay {
  background-image: url("../assets/images/puzzle4.png");
}
.pieces-ui {
  position: absolute;
  top: 100px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 30;
}

.pieces-ui .ui-piece {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 6px;
}
.puzzle-complete {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none; /* скрыто по умолчанию */
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.puzzle-complete.active {
  display: flex;
}

.complete-inner {
  text-align: center;
  color: white;
  font-family: 'comic sans ms';
}

.complete-inner img {
  width: 500px;
  max-width: 80vw;
  margin-bottom: 20px;
  border-radius: 10px;
}

#closePuzzle {
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(226, 226, 226);
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 160px;
  margin-top: 20px;
  font-family: 'comic sans ms';
}
.answer-puzzle{
  margin-bottom: 20px;
}